<!-- <div>what</div> -->

<!-- <form [formGroup]="studentForm" (ngSubmit)="onSubmit()"></form> -->
<div class="patient-add-container">
<div>
  <label for="FirstName">
    First Name
  </label>
  <input id="FirstName" type="text" formControlName="FirstName">
</div>

<div>
  <label for="LastName">
    Last Name
  </label>
  <input id="LastName" type="text" formControlName="LastName">
</div>

<div>
  <label for="Email">
    Email
  </label>
  <input id="Email" type="text" formControlName="Email">
</div>

<div>
  <label for="Major">
    Major
  </label>
  <input id="Major" type="text" formControlName="Major">
</div>

<div>
  <label for="AverageGrade">
    Average Grade
  </label>
  <input id="AverageGrade" type="number" formControlName="AverageGrade">
</div>

  <button class="button" type="submit">Add Student</button>
</div>
<!-- </form> -->